:root {
  --main-color-1: #fbe8a6;
  --main-color-2: #f4976c;
  --main-color-3: #303c6c;
  --main-color-4: #b4dfe5;
  --main-color-5: #d2fdff;
}

/* Gloabl Styles */
.Hero-Image {
  display: block;

  max-width: 50vw;
  border-radius: 10px;
}

.Hero-Image-Stament-Container p {
  margin-top: 2rem;
  line-height: 1.5rem;
  max-width: clamp(40ch, 60ch, 80ch);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Hero-Image-Container {
    background-color: var(--main-color-4);
    padding: 5vh 10vw;
  }
  .Hero-Image {
    width: clamp(17vh, 20vh, 25vh);
    margin: auto;
  }

  .Hero-Image-Stament-Container {
    max-width: 30ch;
    margin-top: 2rem;
    margin: auto;
  }

  .Hero-Image-Stament-Container p {
    margin-top: 2rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Hero-Image-Container {
    background-color: var(--main-color-4);
    padding: 12.5vh 10vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .Hero-Image {
    min-width: 30vh;
    max-width: 35vh;
  }
  .Hero-Image-Stament-Container {
    margin-left: 2rem;
  }

  .Hero-Image-Stament-Container p {
    margin-top: 0;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .Hero-Image-Container {
    background-color: var(--main-color-4);
    padding: 12.5vh 14vh 10vw 10vh;
    display: flex;
    justify-content: center;
  }
  .Hero-Image {
    min-width: 35vh;
    max-width: 40vh;
  }

  .Hero-Image-Stament-Container {
    margin-left: 2rem;
    font-size: 1.25rem;
  }

  .Hero-Image-Stament-Container p {
    margin-top: 0;
  }
}
