:root {
  --main-color-1: #fbe8a6;
  --main-color-2: #f4976c;
  --main-color-3: #303c6c;
  --main-color-4: #b4dfe5;
  --main-color-5: #d2fdff;
}

/* Gloabl Styles */
.Footer {
  background-color: var(--main-color-2);
  padding: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.Footer a {
  text-decoration: none;
  margin: 1rem;
}

.Copyright {
  margin-top: 0.75rem;
  font-size: 0.75rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .Footer {
    background-color: var(--main-color-2);
    padding: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Foot-Link-Container {
    display: flex;
    flex-wrap: wrap;
  }

  .Footer a {
    text-decoration: none;
    margin: 1rem;
  }

  .Copyright {
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .Footer {
    background-color: var(--main-color-2);
    padding: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .Footer a {
    text-decoration: none;
    margin: 1rem;
  }

  .Copyright {
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }
}
